{{!
Re-usable card for linking to posts
}}

<article class='{{post_class}}'>
  <a class='card flex-column p-1_25r bordered pointer' href='{{url}}'>
    <span class='card-title mb-0_5r'>{{title}}</span>
    <span class='card-date'>
      <time datetime='{{date format='YYYY-MM-DD'}}'>
        {{date format='D MMM YYYY'}}
      </time>.
      <span class='ml-0_25r'>{{reading_time}}</span>
    </span>
  </a>
</article>